@font-face{
  font-family: water;
  src: url("https://cdn.glitch.global/97f7bbb3-2cd9-4b34-bbf2-d0a28c71f10b/Water%20Park.ttf?v=1738683075854");
}

body {
  background-color: skyblue;
  text-align: center;
  color: navy;
  margin: auto;
  font-family: water;
}

h1{
  font-size: 30px;
  color: white;
}

#myCanvas {
  background-image: url("https://static.vecteezy.com/system/resources/thumbnails/038/000/159/small_2x/ai-generated-sunlight-shining-the-surface-and-under-the-blue-ocean-sea-wave-with-clean-waters-in-summer-time-photo.jpg");
  background-size: 600px 400px;
  border-radius: 300px;
  border: 5px solid white;
}



